body{padding:50px;margin: 30px;border-width: 5px;border-color: black red;border-style: solid dashed;border-radius: 30px;
    outline: 7px solid blue
}
table th, tr {border:2px solid blue;}

p {color: red;}
h1 {color: #f9f10f; font-size: 120px;text-shadow: 2px 2px 40px red;text-align: center;font-family: 'Times New Roman', serif;}
th {color: green;font-size: 25px;}
.sp {color: chocolate;}
.testin {color: blueviolet;}
div {background-color: beige;width: fit-content}
h1 {background-image: url("img.png"); background-position: center top;background-size:contain;}
.type{ font-size: 50px;width: 1100px;}
.sp,
.testin{font-size:  25px;}
.overflow{overflow:scroll;}